%button {
	display: inline-block;
	border: none;
	text-decoration: none;
	background-color: transparent;
	padding: 15px 40px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: 1px solid black;
	transition: background-color 0.3s ease;
	cursor: pointer;
	font-family: $secondaryFont;

	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		background-color: #000000;
		&::after {
			opacity: 0.22;
		}
	}

	&:focus,
	&:active {
		background-color: darken($veryDarkGrayClr, 5%);
		color: #ffffff;
		&::after {
			opacity: 0.32;
		}
	}
}

.menu-btn {
	display: none;
	min-width: 25px;
	max-height: 18px;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: 0.8s all ease-in-out;

	&:hover {
		.menu-btn__burger {
			&::before {
				transform: rotate(-180deg);
				background-color: #ffffff;
			}

			&::after {
				transform: rotate(180deg);
				background-color: #ffffff;
			}
		}
	}

	@include breakpoint-max(800) {
		display: flex;
		margin-left: 20px;

		&.clicked {
			transition: 0.5s all ease-in-out;
			.menu-btn__burger {
				transform: rotate(45deg);
				background-color: #ffffff;

				&::before {
					transform: rotate(-90deg);
					background-color: #ffffff;
					bottom: 0px;
				}

				&::after {
					top: 8px;
					transform: translateY(-5000px);
					background-color: #ffffff;
				}
			}

			&:hover {
				.menu-btn__burger {
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__burger {
		height: 3px;
		width: 100%;
		background-color: #ffffff;
		transition: 0.5s all ease-in-out;

		&::before,
		&::after {
			position: absolute;
			content: '';
			background-color: #ffffff;
			height: 3px;
			width: 100%;
			transition: 0.5s all ease-in-out;
		}

		&::before {
			bottom: 8px;
		}

		&::after {
			top: 8px;
		}
	}
}
