.footer {
	min-height: 160px;
	background-color: #000000;
	display: flex;
	flex-direction: column;

	&__inner {
		display: flex;
		@include wrapper(1165, 25);
		width: 100%;
		justify-content: space-between;
		padding: 45px 25px;
		flex-wrap: wrap;

		@include breakpoint-max(800) {
			text-align: center;
			justify-content: center;
			flex-direction: column;
			padding: 55px 25px;
		}
	}

	&__logo {
		margin-bottom: 30px;

		@include breakpoint-max(800) {
			margin-bottom: 35px;
		}
	}

	&__nav-list {
		@extend %nav-list;
		gap: 25px;

		@include breakpoint-max(800) {
			flex-direction: column;
			margin-bottom: 50px;
		}

		&-item {
			@extend %-item;
		}

		&-link {
			@extend %-link;

			@include fluid-typo(375px, 1440px, 16px, 22px);
			font-weight: 400;
			text-transform: capitalize;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;

		&-copyright {
			color: $darkGrayClr;
		}

		@include breakpoint-max(800) {
			justify-content: center;
			align-items: center;
		}
	}

	&__social-icons-list {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: center;
		transition: 1s ease-in-out all;
		@extend %nav-list;

		@include breakpoint-max(800) {
			margin-bottom: 20px;
		}

		&-item {
			@extend %-item;
		}
	}
}

.attribution {
	color: #ffffff;
	text-align: center;
	a,
	a:visited,
	a:active {
		color: $darkGrayClr;

		&:hover {
			color: rgba($color: $veryDarkGrayClr, $alpha: 0.5);
		}
	}
}
