.hero {
	background-image: url(../../assets/images/desktop/image-hero.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 650px;
	color: #ffffff;
	position: relative;

	@include breakpoint-max(600) {
		background-image: url(../../assets/images/mobile/image-hero.jpg);
	}

	&::before {
		content: '';
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba($color: #000000, $alpha: 0.5);
	}

	&__inner {
		@include wrapper(1115, 50);
		position: relative;
		min-height: 650px;
		display: flex;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		width: 100%;
		max-width: 1115px;
		padding: 0 50px;
		transition: 1s all;

		&.sticky {
			top: 0px;
			padding: 10px;
			background-color: rgba($color: #000000, $alpha: 0.2);
		}
	}

	&__list {
		display: flex;
		gap: 35px;

		&-item {
			position: relative;

			&:hover:before {
				width: 50%;
				opacity: 1;
			}

			&::before {
				position: absolute;
				bottom: -10px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				content: '';
				border-bottom: 2px solid #fff;
				width: 0%;
				height: 2px;
				opacity: 0;
				-webkit-transition: 0.3s all ease-in-out;
				transition: 0.3s all ease-in-out;
			}
		}

		&-link {
			color: #ffffff;
			text-transform: capitalize;
		}
	}

	&__body {
		max-width: 650px;
		border: 2px solid #ffffff;
		padding: 40px 50px;
		align-self: center;

		@include breakpoint-max(600) {
			padding: 25px 30px;
		}
	}

	&__title {
		@include fluid-typo(375px, 1440px, 30px, 60px);
		text-transform: uppercase;
		font-family: $secondaryFont;
		font-weight: 300;
	}
}
