.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./assets/images/desktop/image-hero.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 650px;
	color: #ffffff;
	position: relative;

	@include breakpoint-max(600) {
		background-image: url(./assets/images/mobile/image-hero.jpg);
	}

	&__inner {
		@include wrapper(1165, 25);
		position: relative;
		min-height: 650px;
		display: flex;
	}

	&__header {
		@include wrapper(1165, 25);
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		width: 100%;
		transition: 1s all;
		align-items: center;

		@include breakpoint-max(800) {
			top: 0;
			padding-top: 40px;
		}

		&.sticky {
			top: 0px;
			padding: 10px;
			left: 0;
			transform: translateX(0%);
			max-width: 100vw;
			background-color: rgba($color: #000000, $alpha: 0.9);
			z-index: 100;
		}
	}

	&__logo {
		z-index: 100;
	}

	&__nav {
		@include breakpoint-max(800) {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			padding: 0;

			&::before {
				content: '';
				position: absolute;
				min-width: 100vh;
				min-height: 100vh;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba($color: #000000, $alpha: 0.5);
				opacity: 0;
				transform: scale(0);
				transform-origin: top left;
				transition: 0.4s all ease-in-out;
			}

			&.overlay {
				&:before {
					content: '';
					position: absolute;
					width: 101vw;
					top: 0;
					bottom: 0;
					left: -1px;
					right: 0;
					background-color: rgba($color: #000000, $alpha: 1);
					opacity: 1;
					transform: scale(1);
					transform-origin: top left;
				}
			}
		}
	}

	&__list {
		display: flex;
		gap: 35px;
		align-items: center;
		transition: 1s ease-in-out all;

		@include breakpoint-max(800) {
			opacity: 0;
			position: absolute;
			top: 50%;
			min-height: 100vh;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			transform: scale(0);
			transform-origin: top;
			gap: 30px;

			&.show {
				opacity: 1;
				position: absolute;
				top: 50%;
				min-height: 100vh;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				padding-left: 25px;
				transform: scale(1);
				transform-origin: top;
			}
		}

		&-item {
			position: relative;

			&:hover:before {
				width: 50%;
				opacity: 1;
			}

			&::before {
				position: absolute;
				bottom: -10px;
				left: 50%;
				transform: translateX(-50%);
				content: '';
				border-bottom: 2px solid #fff;
				width: 0%;
				height: 2px;
				opacity: 0;
				transition: 0.3s all ease-in-out;
			}
		}

		&-link {
			color: #ffffff;
			text-transform: capitalize;

			@include breakpoint-max(800) {
				text-transform: uppercase;
				font-weight: 300;
				font-family: $secondaryFont;
				font-size: 22px;
			}
		}
	}

	&__body {
		max-width: 650px;
		border: 2px solid #ffffff;
		padding: 40px 50px;
		align-self: center;

		@include breakpoint-max(600) {
			padding: 25px 30px;
		}
	}

	&__title {
		@include fluid-typo(375px, 1440px, 30px, 70px);
		text-transform: uppercase;
		font-family: $secondaryFont;
		font-weight: 300;
	}
}
