.overlap {
	@include wrapper(1165, 25);
	display: flex;
	min-height: 820px;
	padding: 160px 25px;
	position: relative;
	overflow: hidden;

	@include breakpoint-max(900) {
		flex-direction: column;
		padding: 95px 25px;
		min-height: auto;
	}

	&__left {
		width: 730px;
		max-width: 100%;

		@include breakpoint-max(900) {
			width: 100%;
		}
	}

	&__right {
		position: absolute;
		left: 580px;
		top: 350px;
		background-color: #ffffff;
		padding: 8.5%;

		@include breakpoint-max(900) {
			position: static;
			text-align: center;
		}
	}

	&__right-title {
		@include fluid-typo(375px, 1440px, 32px, 45px);
		text-transform: uppercase;
		font-family: $secondaryFont;
		font-weight: 300;
		margin-bottom: 40px;

		@include breakpoint-max(900) {
			margin-bottom: 25px;
		}
	}

	&__right-text {
		@include fluid-typo(375px, 1440px, 14px, 13px);
		color: $darkGrayClr;
		line-height: 22px;
	}
	img {
		width: 100%;
	}
}

.grid {
	@include wrapper(1165, 25);
	min-height: 1060px;
	text-transform: uppercase;
	padding-bottom: 185px;
	position: relative;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;
	}

	&__title {
		@include fluid-typo(375px, 1440px, 36px, 36px);
		font-family: $secondaryFont;
		font-weight: 300;

		@include breakpoint-max(600) {
			margin: 0 auto;
		}
	}

	&__btn {
		@extend %button;

		@include breakpoint-max(600) {
			position: absolute;
			bottom: 75px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__boxes {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
		gap: 30px;
	}

	&__box {
		height: 460px;
		background-size: cover;
		cursor: pointer;
		position: relative;
		display: flex;

		&:before {
			content: '';
			position: absolute;
			width: 0%;
			background-color: rgba(255, 255, 255, 0.7);
			transition: 1s ease all;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
			transition: 1s ease all;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 0;
		}

		&:hover {
			&:before {
				width: 100%;
				z-index: 3;
			}

			.grid__box-title {
				color: #000000;
				z-index: 5;
			}
		}

		@include breakpoint-max(600) {
			height: 120px;
		}
	}

	&__picture {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	&__box-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: top center;
	}

	&__box-title {
		color: #ffffff;
		font-weight: 300;
		font-family: $secondaryFont;
		@include fluid-typo(375px, 1440px, 24px, 34px);
		align-self: flex-end;
		max-width: 175px;
		z-index: 1;
		transition: 1s ease all;
		position: absolute;
		left: 40px;
		bottom: 40px;

		@include breakpoint-max(600) {
			max-width: 130px;
			left: 20px;
			bottom: 20px;
		}
	}
}
